In [1]:
import pandas as pd
import re
import json
import requests

In [2]:
# IBRA
ibra = pd.read_csv('data/ibra.csv')
ibra_bioregions = pd.read_csv('data/ibra_bioregions.csv')

# IUCN
bioregion_by_IUCN = pd.read_csv('data/bioregion_by_IUCN.csv')
IUCN_category = pd.read_csv('data/IUCN_category.csv')

### IBRA

In [3]:
ibra.head()

  IBRA Region Code  total_ce
0              ARC         1
1              ARP         2
2              AUA        11
3              AVW        16
4              BBN         5

In [4]:
ibra_bioregions.head()

,IBRA Region Name,IBRA Region Code,Jurisdiction(s),IBRA Area (ha),1 Area Protected (ha),% IBRA Region Protected,2 Contribution to NRS (%)
0,Arnhem Coast,ARC,NT,"3,335,669","1,779,616",53.35,1.17
1,Arnhem Plateau,ARP,NT,"2,306,023","1,728,677",74.96,1.14
2,Australian Alps,AUA,"ACT, NSW, VIC","1,232,981","788,727",63.97,0.52
3,Avon Wheatbelt,AVW,WA,"9,517,104","375,948",3.95,0.25
4,Ben Lomond,BEL,TAS,"657,500","106,341",16.17,0.07

In [5]:
ibra_bioregions_w_total_ce = pd.merge(ibra_bioregions, ibra, on="IBRA Region Code")
ibra_bioregions_w_total_ce.head()

,IBRA Region Name,IBRA Region Code,Jurisdiction(s),IBRA Area (ha),1 Area Protected (ha),% IBRA Region Protected,2 Contribution to NRS (%),total_ce
0,Arnhem Coast,ARC,NT,"3,335,669","1,779,616",53.35,1.17,1
1,Arnhem Plateau,ARP,NT,"2,306,023","1,728,677",74.96,1.14,2
2,Australian Alps,AUA,"ACT, NSW, VIC","1,232,981","788,727",63.97,0.52,11
3,Avon Wheatbelt,AVW,WA,"9,517,104","375,948",3.95,0.25,16
4,Ben Lomond,BEL,TAS,"657,500","106,341",16.17,0.07,7

### Getting Lat Long with Google Geocoding API

In [6]:
GOOGLE_API_KEY = 'AIzaSyBy8xTR8Nh7X_tsMEMwNgungKN4wjh0rUE' 

def extract_lat_long_via_address(address_or_zipcode):
    lat, lng = None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={address_or_zipcode}&key={api_key}"
    # see how our endpoint includes our API key? Yes this is yet another reason to restrict the key
    r = requests.get(endpoint)
    if r.status_code not in range(200, 299):
        return None, None
    try:
        '''
        This try block incase any of our inputs are invalid. This is done instead
        of actually writing out handlers for all kinds of responses.
        '''
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
    except:
        pass
    return lat, lng

In [7]:
lat = list()
lng = list()

for name in ibra_bioregions_w_total_ce['IBRA Region Name']:
    latitude, longitude = extract_lat_long_via_address(name + "Australia")
    lat.append(latitude)
    lng.append(longitude)
    
print(lat)
print(lng)

[-12.621904, -13.1912101, -37, -31.6274939, -41.56561740000001, -25.274398, -27.630113, -31.9539135, -23.534333, -10.7, -24.8877473, -13.440456, -17.3491799, 35.1377187, 44.7626911, -26.6169194, -31.495761, -30.9542738, -28.151228, 39.2083984, -20.662122, -31.4266706, -12.4634403, -20.1833333, -23.554022, -18.5237399, -33.8610309, -34.3333333, -25.5815982, None, -40.1174719, -24.5453479, -34.5973516, -28.7796535, -23.0013315, -20.790331, -28.8558686, 30.39449, 36.1069258, 38.9050155, -37.937, 25.7951727, -32.7071118, -35.0696573, 38.836226, -25.2193044, -23.740669, -34.7637906, 36.7403269, 36.1409182, -26.3999039, -26.5181534, -35.3860672, -30.5, -36.9602102, -30.4886632, -17.3491799, -29.2758152, -34.5493224, -31.0588515, -30.57642749999999, -8.783195, -21.5921433, -13.823056, -29.750299, -25.0466345, None, 32.8076115, 32.860828, -27.439616, None, 53.540183, -15.6591124, -54.62081149999999, -32.0199382, -33.8840443, -19.8119502, -42.2117324, -41.7743261, -41.56561740000001, -42.8165485, -42.8800227, -41.4545196, -11.267263, 45.501697, -37.0034273, -31.7026474, -16.9265565, -28.3400575]
[134.9253721, 133.1804067, 148, 116.589861, 147.661853, 133.775136, 153.128305, 141.4539396, 133.8633442, 142.5166667, 113.6621827, 134.6203292, 125.9152074, -120.6250682, -85.5854634, 144.2644311, 145.8388597, 121.1759269, 153.4664788, -106.9490961, 116.7107712, 143.935319, 130.8456418, 134.4333333, 145.29307, 144.0902878, 121.8919698, 135.75, 134.5776916, None, 148.098965, 115.2837585, 138.7448796, 114.6144452, 125.0014928, 122.1875101, 129.4796328, -88.974235, -112.1129484, -77.04843720000001, 145.009, -80.2306053, 116.0592443, 139.0103998, -94.807118, 121.8499911, 133.3459744, 142.2797032, -95.931373, -95.988801, 146.242404, 116.0413889, 143.7443331, 151, 140.7413243, 151.6637072, 125.9152074, 153.0147578, 148.3501848, 130.4877944, 115.9900892, -124.508523, 121.5236826, 131.833333, 120.553001, 136.7435481, None, -96.62368289999999, -97.18138719999999, 153.130697, None, -114.012056, 132.6118455, 158.855615, 115.7843368, 151.1472704, 130.2837284, 146.8547703, 147.4229874, 147.6618531, 146.0525253, 146.9400506, 145.9706647, 132.1984, -73.563831, 144.2501741, 147.8161713, 145.7785696, 116.6829413]

In [15]:
lat_series = pd.Series(lat)
long_series = pd.Series(lng)

ibra_bioregions_w_total_ce.insert(loc=0, column='lat', value=lat_series)
ibra_bioregions_w_total_ce.insert(loc=0, column='long', value=long_series)

ibra_bioregions_w_total_ce.to_csv('data/ibra_bioregions_w_total_ce_&_latlong.csv')

---

### IUCN

In [9]:
bioregion_by_IUCN.head()

,IBRA Region Name,IBRA Region Code,IA,IB,II,III,IV,I-IV Total,% IBRA Region,V,VI,V-VI Total,% IBRA Region.1,Not Applicable,Not Assigned,Total Area Protected (ha),IBRA Region Area (ha),% IBRA Region protected
0,Arnhem Coast,ARC,NaN,NaN,NaN,NaN,NaN,-,0.00,"396,725","1,382,891","1,779,616",53.35,NaN,NaN,"1,779,616","3,335,669",53.35
1,Arnhem Plateau,ARP,NaN,NaN,"486,415",NaN,NaN,"486,415",21.09,NaN,"1,242,262","1,242,262",53.87,NaN,NaN,"1,728,677","2,306,023",74.96
2,Australian Alps,AUA,"11,079","27,674","738,549","10,296",244,"787,842",63.90,0,886,886,0.07,NaN,NaN,"788,727","1,232,981",63.97
3,Avon Wheatbelt,AVW,"163,602",NaN,"200,779",NaN,165,"364,547",3.83,NaN,"4,850","4,850",0.05,NaN,"6,552","375,948","9,517,104",3.95
4,Ben Lomond,BEL,28,NaN,"19,950","5,820","60,610","86,408",13.14,601,"19,333","19,933",3.03,NaN,NaN,"106,341","657,500",16.17

In [10]:
IUCN_category.head()

,IUCN Category,1 Number,2 Area (ha),3 Average size (ha),4 % of Australia,Contribution to NRS (%)
0,IA,"2,541","15,966,348","6,283",2.07,10.52
1,IB,65,"3,846,201","59,172",0.50,2.53
2,II,"1,084","38,096,535","35,144",4.96,25.10
3,III,"2,375","1,865,843",786,0.24,1.23
4,IV,"4,195","2,274,848",542,0.30,1.50

---

### Scripting that reformats data for sunburst graph

In [11]:
with open('data/ibra_bioregions.csv') as opener:
    data = opener.readlines()
    header = data[0].strip().split(',')
    data = data[1:]
    # too ugly
    data = [re.sub(r'(" \d+)\,', r'\1', i).strip() for i in data]
    data = [re.sub(r'(" \d+)\,', r'\1', i) for i in data]
    data = [re.sub(r'(" \d+)\,', r'\1', i) for i in data]
    data = [re.sub(r'"', r'', i) for i in data]
    data_ungroup = []
    for d in data:
        values = d.split(',')
        if values[2] != '-':
            first = values[:2]
            last = [float(j) for j in values[-4:]]
            states = [s.strip() for s in values[2: -4]] 
            for state in states:
                data_ungroup.append(first + [state] + last)

In [12]:
data_groupby_state = dict()
for d in data_ungroup:
    if d[2] not in data_groupby_state:
        data_groupby_state[d[2]] = [d[: 2] + d[3:]]
    else:
        data_groupby_state[d[2]].append(d[: 2] + d[3:])

In [13]:
data_json = {'name': 'flare', 'children': []}

for state, values in data_groupby_state.items():
    data_json['children'].append({
        'name': state,
        'children': [
            {
                'name': v[0], 
                'children': [
                    {
                        'name': f'Contribution to NRS(%): {v[-1]}',
                        'value': v[-1]//2
                    },
                    {
                        'name': f'IBRA Region Protected(%): {v[-2]}',
                        'value': v[-1]//2
                    }
                ]
            } for v in values]
    })

with open('data/sunburst_graph_data.json', 'w') as outfile:
    json.dump(data_json, outfile, indent=2)

---